.app-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: var(--color-primary);
  height: 60px;
  text-align: center;
  align-content: center;
  color: var(--color-light-secondary);
  font-size: 36px;
}

.darkmode .app-footer {
  background: var(--color-dark-secondary);
  color: var(--color-dark-third);
}

.material-icons.md-36 {
  font-size: 36px;
}

.active-nav-item {
  color: lightsalmon !important;
}
