.app-main-profile {
  display: grid;
  gap: 12px;
  justify-items: center;
  height: calc(100vh - 48px - 60px);
  padding: 24px;
}

.app-main-profile__heading {
  display: flex;
  align-items: center;
  gap: 32px;
}

.app-main-profile__heading > img {
  width: 160px;
  border-radius: 50%;
}

.app-main-profile__about {
  font-size: 80%;
  margin: 0;
}

.app-main-profile__skills {
  justify-self: start;
}

.app-main-profile__skills > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 4px;
  margin: 0;
}

.app-main-profile__skills li {
  background: var(--color-secondary);
  padding: 4px;
  font-size: 80%;
  border-radius: 4px;
}

.darkmode li {
  background: var(--color-dark-secondary);
}
