.app-main-profile {
  display: grid;
  gap: 12px;
  justify-items: center;
  height: calc(100vh - 48px - 60px);
  padding: 24px;
}

.app-main-profile__heading {
  display: flex;
  align-items: center;
  gap: 32px;
}

.app-main-profile__heading > img {
  width: 160px;
  border-radius: 50%;
}

.app-main-profile__about {
  font-size: 80%;
  margin: 0;
}

.app-main-profile__skills {
  justify-self: start;
}

.app-main-profile__skills > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 4px;
  margin: 0;
}

.app-main-profile__skills li {
  background: var(--color-secondary);
  padding: 4px;
  font-size: 80%;
  border-radius: 4px;
}

.app-main-profile__button {
  border: 0;
  width: 200px;
  height: 40px;
  background: var(--color-light-primary);
  border-radius: var(--border-radius-8);
  padding: 4px 8px;
  color: var(--color-primary);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
